/* Player */
.no-height {
  height: 0 !important;
}
.player-container {
  width: 320px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #eaedef;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.player-cover {
  height: 160px;
  background-position: top center;
  background-size: cover;
  transition: height 0.4s;
}
.artist-info {
  padding: 60px 35px 35px;
}
.artist-name,
.artist-song-name {
  margin: 0;
}
.artist-name {
  margin-bottom: 5px;
  font-size: 32px;
  font-weight: 400;
}
.artist-song-name {
  font-size: 18px;
  font-weight: 400;
}
.player-progress-container {
  position: relative;
  width: 250px;
  height: 9px;
  margin: 0px 36px;
  background-color: #414141;
  border-radius: 40px;
}
.player-progress-value {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #cdd2d8;
  border-radius: 40px;
}
.player-progress-value:after {
  position: absolute;
  top: -3px;
  right: -6px;
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7748b5;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 2px;
}
.player-options {
  display: flex;
  justify-content: left;
  padding: 20px 0 20px;
  width: 250px;
  margin: 0 28px;
}
.player-buttons {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.player-buttons.play-controls {
  margin-left: 20px;
}

.player-btn {
  display: inline-flex;
  color: #d2d7db;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  outline: 0;
  transition: all 0.4s;
}
.player-btn i {
  font-size: 20px;
  margin: 0 auto;
}
.player-btn.active {
  color: #838c92;
}
.player-btn.big {
  width: 36px;
  height: 36px;
}
.player-btn.big i {
  font-size: 18px;
  padding: 8px 5px;
}
.player-btn.medium {
  width: 20px;
  height: 20px;
}
.player-btn.medium i {
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.player-btn.volume {
  width: 40px;
}
.player-btn:disabled {
  opacity: 0.5;
}
.player-controls {
  width: 100px;
}
.player-controls .player-btn {
  color: #d9d9d9;
  background-color: #414141;
}
